* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://i.ibb.co/KGWFjpm/light-Background.jpg');
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.pokeHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterBars {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px;
}

option {
    font-weight: bold;
}

.PokeContainer {
    width: 80%;
    min-width: 450px;
    height: auto;
    min-height: 100vh;
}

.Poke-Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

select {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.filter_bars {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.search_bar {
    display: flex;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
}

.searchInput input {
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-size: 15px;
    opacity: 1;
    color: black;
    border: none;
}

.searchInput input {
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-size: 18px;
    color: black;
    border: none;
    outline: none;
    font-style: italic;
}

.search_bar img {
    position: relative;
    width: 15px;
    height: 15px;
}

.filterByIdOrName,
.filterByType,
.searchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 5px;
}

.loadingScreen {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace
}

.loadingScreen img {
    width: 80px;
}

#loadBtn {
    width: 200px;
    height: 70px;
    background-color: #f04c4c;
    border-radius: 6px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 100px;
    cursor: pointer;
    border: 2px solid rgb(56, 56, 56);
    font-family: 'Retro Land Mayhem', sans-serif;
    font-weight: lighter;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#loadBtn:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.switch {
    left: 12%;
    top: 10%;
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(159, 233, 255);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url('https://i.ibb.co/dpPZ2pS/pokeball.png');
    background-size: contain;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(40, 125, 151);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-image: url('https://i.ibb.co/nBf264L/luxuryball.png');
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#loadBtn img {
    width: 40px;
}

.loadingScreen {
    font-family: 'Retro Land Mayhem', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: lighter;
}