.Poke-Cards {
    padding: 10px;
    gap: 30px;
}

.PokeCard {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.pokeNumber {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 2px rgba(221, 221, 221, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 5px;
}
.pokeImage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeImage img {
    width: 200px;
    height: 200px;
}

.pokeImage:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.pokeUpperPart {
    display: flex;
    justify-content: space-between;
}

.pokeFav {
    width: 20px;
    height: 20px;
    /* background-image: url('https://www.nicepng.com/png/full/896-8968612_minecraft-heart-minecraft-health-bar-png.png'); */
    /* background-image: url('https://art.pixilart.com/d0c8ec54cc21b85.png'); */
    background-size: contain;
    cursor: pointer;
}

.pokeShiny {
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
}

.pokeName {
    padding-bottom: 20px;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 2px 2px 2px rgba(221, 221, 221, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokeTypes {
    height: 30px;
    display: flex;
    justify-content: space-around;
}

.pokeTypes img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 800px) {
    .PokeCard{
        width: 150px;
        height: auto;
    }

    .pokeImage img {
        width: 120px;
        height: auto;
    }

    .pokeName {
        padding-bottom: 10px;
        font-size: 18px;
    }

    .pokeTypes img {
        width: 25px;
        height: 25px;
        border-radius: 50px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    }
    
}